<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FunnyWeather.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4A50A92506F5C900F98A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4A50C02506F5CD00F98A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4A50CB2506F5CD00F98A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
